﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
       ? CurrentPage.Name
       : CurrentPage.Title;
}
<div id="main-wrapper">
    @*<div class="row"><span style="margin-right:100px;margin-top:40px;float:right;"><img src="~/css/images/cms.png" alt="" /></span></div>*@
    <div class="row">
        <header>
           <h2>@pageTitle</h2>
       </header>
    </div>
       <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <section>
                              @{ Html.RenderPartial("umbFaq"); }
                           
                        </section>                           
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
    </div>
</div>