﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
@{ Html.RenderPartial("umbHomepageBanner"); }
<!-- Main -->
@*<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u">
                @{   Html.RenderPartial("umbNewsOverview"); }
            </div>
        </div>
		<div class="row">
            <div class="12u">
                @{   Html.RenderPartial("umbFaqpage"); }
            </div>
        </div>

        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbImportantLinks"); }
            </div>
        </div>
    </div>
</div>*@
<!-- /Main -->
