﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
      ? CurrentPage.Name
      : CurrentPage.Title;
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    var ImpLinksPage = homePage.importantLinks.First();
    var ImpLinkItems = ImpLinksPage.importantLinksItems.OrderBy("link desc");
}
<div id="main-wrapper">
    @*<div class="row"><span style="margin-right:100px;margin-top:40px;float:right;"><img src="~/css/images/cms.png" alt="" /></span></div>*@
    <div class="row">
        <header>
            <h2>@pageTitle</h2>
        </header>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <section>
                            @foreach (var item in ImpLinkItems)
                            {

                                // If the editor has not explicitly provided the "Page title" property page
                                // then just show the name of the page otherwise show the provided title
                                var title = string.IsNullOrWhiteSpace(item.Title)
                                    ? item.Name
                                    : item.Title;


                                // If the editor has not explicitly set the publishDate property then show the create date
                                var dateTime = item.PublishDate == default(DateTime)
                                    ? item.CreateDate
                                    : item.PublishDate;

                                <section>
                                    <h3><a href="@item.Url">@title</a></h3>

                                    <ul class="meta">
                                        <li class="timestamp">@dateTime.ToString("f")</li>
                                    </ul>

                                    @Umbraco.Truncate(item.description, 150)

                                    <a href='@item.Url' class="button">Continue Reading</a>
                                </section>
                            } 
                        </section>                        
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
    </div>
</div>