﻿@inherits UmbracoTemplatePage
@using Umbraco.Core.Services;
@{
    Layout = "umbLayout.cshtml";

    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
                    ? CurrentPage.Name
                    : CurrentPage.Title;
    var status = "Published";
    var color = "#94000e";
    var cs = ApplicationContext.Current.Services.ContentService;
    var content = cs.GetById(CurrentPage.Id);
    if (!content.Published) { status = "DRAFT, Unpublished"; }
    if (status == "Published") { color = "#27883d"; }

    var d = CurrentPage.createDate.ToString("dd/MM/yyyy hh:mm");
}

<div id="main-wrapper">
   
    <div class="row">
        <h2>Your Content Preview</h2>
    </div>
    <div class="row">
        <span style="font-size:12px;">
            The purpose of this preview is to show you the content you'll be delivering to your page, when it is rendered within your website; the styles, colors and sizes will be made to match the design of your website.
        </span>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content content-left">

                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>
                        <section>

                            <div class="row">
                                <div class="12u">

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Post Status:</span>
                                        </div>
                                        <div class="7u">
                                            <span style="color: @color;font-size: 16px;font-weight:bold">@status</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Date Created:</span>
                                        </div>
                                        <div class="7u">
                                            <span class="setfont">@CurrentPage.createDate.ToString("dd/MM/yyyy hh:mm")</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Last Modified:</span>
                                        </div>
                                        <div class="7u">
                                            <span class="setfont">@CurrentPage.updateDate.ToString("dd/MM/yyyy hh:mm")</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Author:</span>
                                        </div>
                                        <div class="7u">
                                            <span class="setfont">@CurrentPage.CreatorName</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="12u">
                              
                                <a style="font-size:24px;font-weight:bold;color:#211551" href="@CurrentPage.link" target="_blank">@CurrentPage.linkText</a>
                            </div>
                            <div class="12u bodytext">
                                @CurrentPage.description
                            </div>
                            <div class="12u">
                               <a href="@CurrentPage.link" target="_blank">Click here to find out more</a>
                            </div>
                        </section>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div> 