﻿@inherits UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--
    TXT 2.0 by HTML5 UP
    html5up.net | twitter.com/n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>@Umbraco.Field("title", altFieldAlias: "pageName") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel-noscript.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="/css/ie7.css" /><![endif]-->
</head>
<body class="homepage">
    <!-- Header -->
    @*<header id="header">
        <div class="logo">
            <div
                <h1><a href="/" id="logo">@Umbraco.Field("siteName", recursive: true)</a></h1>
                <span class="byline">@Umbraco.Field("byline", recursive: true)</span>
            </div>
        </div>
    </header>*@
    <!-- /Header -->
    
    <div class="row"><span style="margin-right:100px;margin-top:25px;float:right;"><img src="~/css/images/cms.png" alt="" /></span></div>
    @RenderBody()

    <!-- Footer -->
    @*<footer id="footer" class="container">
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbAbout"); }
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbSocial"); }
            </div>
        </div>
        <div class="row">
            <!-- Copyright -->
            <div id="copyright">
                &copy; @DateTime.Now.Year @Umbraco.Field("copyright", recursive: true) | Images: <a href="http://fotogrph.com">fotogrph</a> + <a href="http://iconify.it">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
            </div>
            <!-- /Copyright -->
        </div>
    </footer>*@
    <!-- /Footer -->
</body>
</html>