﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
    var newsOverview = homePage.umbNewsOverviews.First();

    // Similar to above: find all pages with document type umbNewsItem under the news overview page
    // Then order them, first by publishDate (a property the editor can explicitly set on the news item)
    // and then by createDate, which is set by Umbraco automatically when a page gets created.
    var newsItems = newsOverview.umbNewsItems.OrderBy("publishDate desc, createDate desc").Take(5);

    //var hide = true;

    ViewBag.hide = false;

}
<!-- Main -->
<div id="main-wrapper">
    @*<div class="row"><span style="margin-right:100px;margin-top:40px;float:right;"><img src="~/css/images/cms.png" alt="" /></span></div>*@
    <div class="row">
        <header>
            <h2>@pageTitle</h2>
        </header>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content">
                    <!-- Content -->
                    <article class="is-page-content">
                        @foreach (var item in newsItems)
                        {

                            // If the editor has not explicitly provided the "Page title" property page 
                            // then just show the name of the page otherwise show the provided title
                            var title = string.IsNullOrWhiteSpace(item.Title) 
                                ? item.Name 
                                : item.Title;


                            // If the editor has not explicitly set the publishDate property then show the create date
                            var dateTime = item.PublishDate == default(DateTime) 
                                ? item.CreateDate 
                                : item.PublishDate;
                            
                            <section>
                                <h3><a href="@item.Url">@title</a></h3>
                                <span class="byline">@item.SubHeader</span>
                                <ul class="meta">
                                    <li class="timestamp">@dateTime.ToString("f")</li>
                                </ul>

                                @if (string.IsNullOrWhiteSpace(item.Image) == false)
                                {   <div class="11u">
                                    <a href="@item.Url" class="image image-full"><img src="@item.Image" alt="" /></a>
                                    </div>
                                }

                                <div class="12u">
                                    @Umbraco.Truncate(item.BodyText, 200)
                                </div>
                                    <a href='@item.Url/@ViewBag.hide' class="button">Continue Reading   </a>
                                </section>
                        }
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
