﻿@inherits UmbracoTemplatePage
@using Umbraco.Core.Services;
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    var status = "Published";
    var color = "#94000e";
    var cs = ApplicationContext.Current.Services.ContentService;
    var content = cs.GetById(CurrentPage.Id);
    if (!content.Published) { status = "DRAFT, Unpublished"; }
    if (status == "Published") { color = "#27883d"; }
}
<div id="main-wrapper">
     
     <div class="row">
        <h2>Your Content Preview</h2>
    </div>
    <div class="row">
        <span style="font-size:12px;">
            The purpose of this preview is to show you the content you'll be delivering to your page, when it is rendered within your website; the styles, colors and sizes will be made to match the design of your website.
        </span>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>
                        <section>
                            <div class="row">
                                <div class="5u">
                                    @if (string.IsNullOrWhiteSpace(CurrentPage.Image) == false)
                                    {
                                        <span class="image image-full"><img src="@CurrentPage.Image" alt="" /></span>
                                    }
                                </div>
                                <div class="7u">

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Post Status:</span>
                                        </div>
                                        <div class="7u">
                                            <span style="color: @color;font-size: 16px;font-weight:bold">@status</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Date Created:</span>
                                        </div>
                                        <div class="7u">
                                            <span class="setfont">@CurrentPage.createDate.ToString("dd/MM/yyyy hh:mm")</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Last Modified:</span>
                                        </div>
                                        <div class="7u">
                                            <span class="setfont">@CurrentPage.updateDate.ToString("dd/MM/yyyy hh:mm")</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="5u">
                                            <span class="setlabel">Author:</span>
                                        </div>
                                        <div class="7u">
                                            <span class="setfont">@CurrentPage.CreatorName</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="12u bodytext">
                                @CurrentPage.BodyText
                            </div>
                        </section>                           
                    </article>
                    <!-- /Content -->
                </div>
            </div>
            @*<div class="3u">
                <div class="sidebar">
                    <!-- Sidebar -->
                    @{ Html.RenderPartial("umbLatestNewsWidget"); }
                    <!-- /Sidebar -->
                </div>
            </div>*@
        </div>
        @*<div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>*@
    </div>
</div>
<!-- /Main -->