﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;    
}
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>
                        <section>
                            <div class="5u">
                                @if (string.IsNullOrWhiteSpace(CurrentPage.Image) == false)
                                {
                                    <span class="image image-full"><img src="@CurrentPage.Image" alt="" /></span>
                                }
                            </div>
                            <div class="7u">
                                <span>@CurrentPage.Id</span>
                            </div>
                           
                        </section>                           
                        <section>
                            <div class="12u">
                                @CurrentPage.BodyText
                            </div>
                        </section>
                    </article>
                    <!-- /Content -->
                </div>
            </div>
            @*<div class="3u">
                <div class="sidebar">
                    <!-- Sidebar -->
                    @{ Html.RenderPartial("umbLatestNewsWidget"); }
                    <!-- /Sidebar -->
                </div>
            </div>*@
        </div>
        @*<div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>*@
    </div>
</div>
<!-- /Main -->