﻿@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    var faqPage = homePage.fAQpages.First();
	
  
    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
		var faqItems = faqPage.faqitems.OrderBy("question desc");
}
	
<!-- Archives -->

    @foreach (var faqItem in faqItems)
    {

        var title = string.IsNullOrWhiteSpace(faqItem.Title)
            ? faqItem.Name
            : faqItem.Title;



        var dateTime = faqItem.PublishDate == default(DateTime)
            ? faqItem.CreateDate
            : faqItem.PublishDate;

        <h3><a href="@faqItem.Url">@title</a></h3>
        <span class="byline">@faqItem.question</span>
        <ul class="meta">
            <li class="timestamp">@dateTime.ToString("f")</li>
        </ul>

        @Umbraco.Truncate(faqItem.answer, 200)

        <a href="@faqItem.Url" class="button">Continue Reading</a>
		@*<li><strong>@faqItem.question</strong><br>
			@faqItem.answer
			</li>*@      

    }

